---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const links = [
  {
    href: '#',
    name: t('nav.home'),
  },
  {
    href: '#',
    name: t('nav.values'),
  },
  {
    href: '#',
    name: t('nav.projects'),
  },
  {
    href: '#',
    name: t('nav.events'),
  },
  {
    href: '#',
    name: t('nav.contributor'),
  },
] satisfies Array<{ href: '#'; name: string }>

const socialLinks = [
  {
    href: '#',
    name: 'github',
  },
  {
    href: '#',
    name: 'discord',
  },
] satisfies Array<{ href: '#'; name: string }>
---

<nav class="absolute top-5 z-50 flex items-center justify-between gap-5 rounded-full bg-white/30 p-4">
  <img src="/logo.png" alt="Afordin Organization Logo" />
  {links.map((link) => <a href={link.href}>{link.name}</a>)}
  {
    socialLinks.map((link) => (
      <a href={link.href} class="size-8">
        <img src={`./social/${link.name}.png`} alt={link.name} />
      </a>
    ))
  }
</nav>
