---
import Metatags from '@/components/Metatags.astro'
import { getLangFromUrl } from '../i18n/utils'
import SquarePattern from '@/components/SquarePattern.astro'
import '@/styles/app.css'

interface Props {
  title: string
  description: string
  themeColor?: string
  slug?: string
}

const { description, title, slug, themeColor } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
  <head>
    <Metatags {description} {title} {slug} {themeColor} />
    <slot name="head" />
  </head>
  <body class="relative">
    <SquarePattern />
    <div class="font-manrope flex w-full flex-col items-center bg-[var(--color-primary)] text-white">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Aeonik;
    src: url('/fonts/aeonik-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  html {
    scroll-behavior: smooth;
  }
</style>
