---
export interface Props {
  imageSrc: string
  imageAlt: string
  title: string
  paragraph: string
  gradient: string
}

const { imageSrc, imageAlt, title, paragraph, gradient } = Astro.props
---

<div class={`card ${gradient}`}>
  <img src={imageSrc} alt={imageAlt} loading="lazy" class="card-img" />
  <div class="card-content">
    <h3 class="text-xl font-bold text-white capitalize sm:text-base md:text-lg">
      {title}
    </h3>
    <p class="text-sm leading-relaxed font-light text-white/80 sm:text-xs md:text-xs">
      {paragraph}
    </p>
  </div>
</div>
