---
export interface Props {
  imageSrc: string
  imageAlt: string
  title: string
  paragraph: string
  gradient: string
}

const { imageSrc, imageAlt, title, paragraph, gradient } = Astro.props
---

<div class={`card ${gradient} transition-transform transform hover:scale-105 hover:shadow-xl`}>
  <img src={imageSrc} alt={imageAlt} loading="lazy" class="transition-opacity duration-300 hover:opacity-90" />
  <h3 class="my-2 text-base font-bold capitalize sm:text-lg md:text-xl lg:text-2xl">
    {title}
  </h3>
  <p class="text-xs font-light sm:text-sm md:text-base lg:text-lg">
    {paragraph}
  </p>
</div>
